<%- include ("partials/head") %>
<%- include ("partials/menu") %>

<body class="introduction">

    <section>
        <div>
            <p>Step 1/5</p>
            <h1>Hi 👋 Tell us about yourself..</h1>
            <p>Welcome to MeetYou. This is the application to find your match based on person and the dogs you like.
                <br>
                Firstly we want to know some basic stuff about you. After this we're gonna give you a
                few scenarios to answer.
            </p>
        </div>
        <div>
            <form method="POST" action="/" id="introduction">
                <label min="8" for="username">Username</label>
                <input required id="username" name="username" type="text" autocomplete="off">
                <label for="firstname">First Name</label>
                <input required id="firstname" name="firstname" type="text" autocomplete="off">
                <label for="lastname">Last Name</label>
                <input required id="lastname" name="lastname" type="text" autocomplete="off">
                <label for="age">Age</label>
                <input required id="age" name="age" type="number" autocomplete="off">
                <div class="radios">
                    <label for="gender">Gender</label>
                    <ul>
                        <li>
                            <input id="gender1" name="gender" type="radio" value="male">
                            <label for="gender1">Male</label>
                        </li>
                        <li>
                            <input id="gender2" name="gender" type="radio" value="female">
                            <label for="gender2">Female</label>
                        </li>
                    </ul>
                    <span id="gender-error"></span>
                </div>
                <div class="radios">
                    <label for="preferredgender">Looking for</label>
                    <ul>
                        <li>
                            <input id="pref1" name="preferredgender" type="radio" value="male">
                            <label for="pref1">Male</label>
                        </li>
                        <li>
                            <input id="pref2" name="preferredgender" type="radio" value="female">
                            <label for="pref2">Female</label>
                        </li>
                        <li>
                            <input id="pref3" name="preferredgender" type="radio" value="both">
                            <label for="pref3">Both</label>
                        </li>
                    </ul>
                    <span id="preferredgender-error"></span>
                </div>
                <button> Next </button>
            </form>
        </div>
    </section>

    <%- include ("partials/footer") %>