<%- include ("partials/head"); %>
<%- include ("partials/stepmenu"); %>

<body class="steps step2">

    <section>
        <article>
            <p>Step 2/5</p>
            <h1>Your dog 🐶</h1>
            <p>Hello <%= user.firstname %>! Since we are all about dogs, we want to know what your dog looks
                like,
                upload a picture of your dog(s)!
            </p>
            <article>
                <form action="/step2form" method="POST" enctype="multipart/form-data">
                    <p><img id="picture-dog" /></p>
                    <div>
                        <label for="dogpicture">Upload a picture of your dog!</label>
                        <input required type="file" name="dogpicture" id="dogpicture" accept=image/*>
                    </div>
                    <div>
                        <label for="dogname">Name of your dog</label>
                        <input type="text" name="dogname" id="dogname">
                    </div>
                    <nav>
                        <a href="/">Introduction</a>
                        <button>Next </button>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>