<%- include ("partials/head.ejs"); %>
<%- include ("partials/menu.ejs"); %>

<body class="steps">

    <section>
        <article>
            <p>Step 2/6</p>
            <h1>You and exercising</h1>
            <p>How do you feel about exercising, Are you working out a lot? Tell us about it. Dont worry,
                there is no
                wrong answer.
            </p>
            <article>
                <form action="">
                    <nav>
                        <a href="introduction">Profile</a>
                        <a href="#">Next</a>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>