<%- include ("partials/head.ejs"); %>
<%- include ("partials/menu.ejs"); %>

<body class="steps">

    <section>
        <article>
            <p>Step 2/5</p>
            <h1>Your dog 🐶</h1>
            <p>Since we are all about dogs, we want to know what your dog looks like, upload a picture of your dog(s)!
            </p>
            <article>
                <form action="/step2form" method="POST">
                    <div>
                        <label for="dogpic">Upload a picture!</label>
                        <input type="file" name="dogpic" id="dogpic" name="myfile">
                    </div>
                    <div>
                        <label for="dogname">Name of your dog</label>
                        <input type="text" name="dogname" id="dogname">
                    </div>
                    <nav>
                        <a href="introduction">Profile</a>
                        <button>Next </button>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>