<%- include ("partials/head.ejs"); %>
<%- include ("partials/menu.ejs"); %>

<body class="steps step4">

    <section>
        <article>
            <p>Step 4/5</p>
            <h1>Dog Scenario</h1>
            You signed up for this platform cause you like dogs, and you want to find love. Which of these 4 dogs do
            you like the most?
            </p>
            <article>
                <form action="/step4form" method="POST">

                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>