<%- include ("partials/head.ejs"); %>
<%- include ("partials/menu.ejs"); %>

<body class="steps step4">

    <section>
        <article>
            <p>Step 4/5</p>
            <h1>Dog Scenario 🐶</h1>
            You signed up for this platform cause you like dogs, and you want to find love. If you had to choose one of
            these 4 dogs, which one do you think looks the cutest?
            </p>
            <article>
                <form action="/step4form" method="POST">
                    <ul>
                        <li>
                            <input id="dog1" name="dogpref" value="Labrador" type="radio">
                            <label for="dog1"></label>
                        </li>
                        <li>
                            <input id="dog2" name="dogpref" value="Golden Retriever" type="radio">
                            <label for="dog2"></label>
                        </li>
                        <li>
                            <input id="dog3" name="dogpref" value="Syberian Husky" type="radio">
                            <label for="dog3"></label>
                        </li>
                        <li>
                            <input id="dog4" name="dogpref" value="German Shepherd" type="radio">
                            <label for="dog4"></label>
                        </li>
                    </ul>
                    <nav>
                        <a href="/step3/<%= user.id %>">Step 3</a>
                        <button>Next </button>
                    </nav>
                </form>
            </article>
        </article>
    </section>

    <%- include ("partials/footer.ejs"); %>