@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
/* Global Styles */

*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --orange: #F79D65;
    --light-orange: #F7B267;
    --dark-orange: #F4845F;
    --light-red: #F27058;
    --dark-red: #F25C54;
    --steel-blue: #5B85AA;
    --purple-navy: #414770;
    --black: #000000;
    --white: #FFFFFF;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

/* Header */
header {
    padding: 2em 4em;
    position: absolute;
    z-index: 1;
    width: 100%;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li:last-child {
    margin-left: auto;
}

header nav ul li img {
    max-width: 12em;
}

header nav ul li a {
    text-decoration: none;
    font-family: "Red Hat Display";
    color: var(--orange);
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1.1em;
}

/*Body */
body.home section {
    /* https://www.pexels.com/nl-nl/foto/stad-mode-man-paar-3775605/ */
    background-image: url('../images/bannerimage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;  
}

body.home section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(244, 132, 95, 0.2);
    z-index:-1;
}

body.home section {
    display: flex;
    align-items: center;
    justify-content: center;
}

body.home section article h1 {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    color: var(--white);
    font-size: 5em;
}

body.home section article p {
    color: var(--white);
    font-family: "Zilla Slab";
}

body.home section article p:last-child {
    margin-top:2em;
}

body.home section article a {
    text-decoration: none;
    font-family: "Red Hat Display";
    color: var(--white);
    background-color: var(--orange);
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1.1em;
}

