<!DOCTYPE html>
<html lang="en">

<head>
    <title>Meetyou &mdash; Profile </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="../images/favicon.ico" />
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<header>
    <nav>
        <a href="introduction.html"><img src="../images/logo2.png" alt=""></a>
        <div>
            <ul>
                <a href="#">
                    <li><img src="../images/search.png" alt="searchicon"></li>
                </a>
                <a href="#">
                    <li><img src="../images/matches.png" alt="matches"></li>
                </a>
                <a href="profile.html">
                    <li><img src="../images/profile.png" alt="profile"></li>
                </a>
            </ul>
        </div>
    </nav>
</header>

<body class="profile preview">
    <section>
        <div>
            <h1> <%= user.firstname %>'s Profile Preview</h1>
            <p>This is what your profile looks like to other people!</p>
            <article>
                <p><img src="../uploads/<%= user.profilepic %>" alt="picture of user"></p>
                <div>
                    <h2><%= user.firstname %>, <%= user.age %> </h2>
                    <p><%= user.description %></p>
                    <ul>
                        <% for(let i = 0; i < user.hobbies.length; i++) { %>
                        <li><%= user.hobbies[i]%></li>
                        <% } %>
                    </ul>
                </div>
            </article>

        </div>

    </section>